.login{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}
.login .inp{
    width: 400px;
    height: 35px;
    text-align: center;
    margin-top: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.login button{
    width: 150px;
    height: 35px;
    margin-right: 10px;
    cursor: pointer;
}